.problemPage{
    display: grid;
    grid-template-columns: 0.5fr 0.8fr 0.5fr;
    scroll-behavior: auto;
    background: #072D25;
}

.problemo{
    padding: 10px 15px;
    border: 1px solid var(--secondary);
    overflow : scroll;
    height: 100vh;
    background: var(--primary);
    min-width: 400px;
}
.codearea{
    background: white;
    padding: 10px;
    right: 0px;
}

.editor{
    /* position: absolute; */
    /* width: 100%; */
    /* min-width: 500px; */
    margin: 0;
    height: 100%;
    z-index: 100;
    background: var(--primary);
}
.editor2{
    /* left: 0; */
    margin: 0;
    right: 0;
    /* width: 100%; */
}

.RightSideBar{
    min-width: 400px;

}